:root {
--secondary-background-color: #F5F4FA;
--main-text-color: #757575;
--secondary-text-color: #FFFFFF;
--title-color: #212121;
--accent-color: #2196F3;
--icon-color: #AFB1B8; }

body {

    background-color: #FFFFFF;
    font-family:Roboto, sans-serif;
   }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}


   /* utility */
.link {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* header */
.page-header {
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
          
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}
 
.logo {
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-part {
    color: var(--accent-color);
} 

/* navigation */
.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--accent-color);
}
 
.link.current {
    position: relative;
    color: var(--accent-color);
    }

.link.current::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: -1px;
     display: block;
     width: 100%;
     height: 4px;

     background-color: var(--accent-color);
     border-radius: 2px;
    }


    /* contacts nav */
.contacts-nav {
    display: flex;
    margin-left: auto;

    color: var(--main-text-color);
}

.contacts-nav .item + .item {
    margin-left: 50px;
}

.contacts-nav .link {
    display: flex;
    align-items: center;

    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-icon,
.smartphone-icon{
    margin-right: 10px;
    fill: currentColor;
}


/* main */

/* hero */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: #2F303A;
    text-align: center;

/* background hero Overlay */
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
         to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
     url("../images/Hero_bg_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-button { 
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
   
    color: var(--secondary-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
}

.hero-title { 
    margin-top: 0px;
    margin-bottom: 30px;

    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* section */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

 .section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
 }

 .section .activity {
     padding-top: 0;
 }

 
  /* description of company */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 .description {
    display: flex;
 }

 .description .item {
    width: 270px;
 }

.description .item + .item {
    margin-left: 30px;
}

.description-headline {
    margin-bottom: 10px;
    
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}

.description-text {
    color: var(--main-text-color);

    font-size: 14px;
    line-height: 1.7;
}

.description-icon {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-background-color);
    border-radius: 4px;
}

/* activity of company */
.activity {
    padding-top: 0;
}
.section .activity-list {
    display: flex;
}

.activity-list .item + .item {
     margin-left: 30px;
 }

.activity-thumb {
     position: relative;
}

.activity-thumb::before {
    position: absolute;
    bottom: 0;

    display: inline-block;
    content: '';
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.activity-text {
    position: absolute;
    bottom: 27px;
    transform: translate( 50%); 

    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
 } 


/* company team */
.team-section {
    background-color: var(--secondary-background-color);
 }

.team {
    display: flex;
}
.team .item {
        width: 270px;
        border-radius: 0px 0px 4px 4px;

        background: #FFFFFF;
        box-shadow: 0px 1px 3px 
        rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
 }

.team .item +.item {
    margin-left: 30px;
}
/* employee's information */
.employee {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
 }
.employee-name {
    margin-bottom: 10px;
     
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.employee-specialy {
    margin-top:0;
  
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.2;
}

/* social link */
.social-network {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.social-link {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px; 
    padding: 0;
    border-radius: 50%;

    color: var(--icon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:not(:last-child) {
    margin-right: 10px;
}

.social-link:hover,
.social-link:focus  {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}

.team-icon {
    align-items: center;
    fill: currentColor;
}


/*clients companys */
.clients-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients {
    width: 170px;
    height: 90px;
}

.clients:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
   
    color: var(--icon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.clients-icon {
    align-items: center;
    fill: currentColor;
}


 /* footer */
 .footer-content {
     display: flex;
     align-items: baseline;
 }

 .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: #2F303A;  
    color: var(--secondary-text-color);
}
  
 .logo-footer {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
    color: var(--secondary-text-color);
 }

.logo-part {
    color: var(--accent-color);
}

.contacts {
    margin-top: 20px;
   
    color: var(--secondary-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .contacts:hover,
 .contacts:focus {
    color: var(--accent-color);
}

.contacts-address {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-address:hover,
.contacts-address:focus {
    color: var(--accent-color);
}

.footer-contact:not(:last-child) {
    margin-bottom: 9px;
}

/* footer-links */
.call-to-action {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}

.footer-links {
    display: block ;
    align-items: center;
   
    padding: 0;
    margin-left: 70px;
}

.social-network-footer {
    display: flex;
}   

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px; 
    margin: 0;
    padding: 0;
    border-radius: 50%;

    color: var(--secondary-text-color);
    background-color: #44454E;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus  {
    background-color: var(--accent-color);
}

.team-icon {
    align-items: center;
    fill: currentColor;
}


/* Portfolio.html page */

/* filters */

.portfolio-filter {
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;

    color: var(--title-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-filter:hover,
.portfolio-filter:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filters {
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-filters .item + .item {
    margin-left: 8px;
}

/* portfolio */
.portfolio {
    display:flex;
    flex-wrap: wrap;
}

.port.item {
    border: 1px solid #EEEEEE;
}

.element-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.element-link:hover,
.element-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
} 

.portfolio .item{
    padding: 20px 24px;
}
.portfolio-title {
    margin-bottom: 4px;

    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.portfolio-discription {
    margin-top: 0; 
    
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.8;
}

.element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.element:nth-child(3n) {
    margin-right: 0;
 }

.element:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.element-thumb {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover .product-overlay,
.product:focus .product-overlay {
    transform: translateY(0);
}    

.element-action {
    position: absolute;
    padding-top: 63px;
    padding-left: 24px;
}

.portfolio-text {
    width: 322px;
    
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 1.6;
}



/* Modal window */

 .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 } 

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

 .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    width: 528px;
    height: 581px;
          
    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;  
}

 .modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    background-color: var(--secondary-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
 }

 .modal-icon {
    align-items: center;
    fill: currentColor;
}
