body {

    background-color: #FFFFFF;
    font-family:Roboto, sans-serif;
   }


textarea {
    resize: none;
}

.form {
    width: 600px;
    outline: 2px solid tomato;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-field label {
    color: #2a2a2a;
}
.form-field input {
    margin: 0;
    padding: 4px 10px;
    border-radius: 4px;
    border:0.5px solid lightgray
}

.form-field input::placeholder {
    color: rgba(255, 160, 122, 0.8);
    font-size: 15px;
    text-align: right;
}


.group {
    margin-bottom: 20px;
}

.group-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.topic-options,
.experince-option {
      padding: 0;
      margin: 0;
      list-style: none;
}

.topic-options li {
    display: flex;
    align-items: center;
}

.topic-options input[type='checkbox'] {
   
}

.topic-options label{
    font-size: 20px;
    margin-left: 10px;
}

.date {
   border-width: 2px;
   border-radius: 4px;
   padding: 20px 40px;
}

.comment {
    padding: 8px;
}